.promotion-section-hold {
    background-color: var(--color10);
    height: 297px;
    overflow-y: visible;
}
.promotion-content-hold h2 {
    font-size: var(--h2_typography-font-size);
    color: var(--color8);
    font-weight: var(--font-weight-700);
    margin-bottom: 16px;
}
.promotion-content-hold p {
    margin-bottom: 40px;
}
.promotion-img-hold.pro-dis-tag {
    text-align: right;
    margin-top: 50px;
}
.promotion-img-hold.pro-dis-tag img {
    width: auto;
}
