.discount-section-hold {
    background-color: var(--color7);
    padding: 24px 0px;
    margin-bottom: 56px;
}
.discount-content-left {
    display: block;
}
.discount-content-left .upper-text {
    display: flex;
    margin-bottom: 10px;
}
.discount-content-left .upper-text h2 {
    font-size: var(--h3_typography-font-size);
    color: var(--color1);
    font-weight: var(--font-weight-700);
    margin: auto 40px auto 0px;
}
.discount-content-left p {
    color: var(--color9);
    margin-bottom: 0px;
    font-size: var(--h6_typography-font-size);
}
.discount-content-right {
    text-align: right;
}
.newsletter_two_form_fields_content button {
    margin-left: 24px;
}
.newsletter_two_form_fields_content input {
    width: 273px;
}

/********* Start  header  Responsive ********/

@media (max-width: 1400px) {
 
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media(max-width:768px){
    .newsletter_two_form_fields_content input {
        width: 100% !important;
    }
    .newsletter_two_form_fields_content {
        display: flex;
        width: 100%;
    }
    .newsletter_two_form_fields_content button {
        margin-left: 8px !important;
    }
    .discount-content-left .upper-text {
        justify-content: space-between;
    }
    .discount-content-left .upper-text h2 {
        font-size: 24px !important;
        margin: auto 10px auto 0px !important;
    }
    .discount-content-left p {
        margin-bottom: 12px !important;
        font-size: 14px !important;
        padding-right: 20px !important;
        margin-top: -15px !important;
    }
    .discount-section-hold {
        margin-bottom: 16px;
    }
}

/********* End  Slider  Responsive ********/
