.feature-section {
    margin-bottom: 48px;
}

.main-heading-holds {
    margin-bottom: 32px;
}

.main-heading-holds h2 {
    font-weight: var(--font-weight-700);
    font-size: var(--h2_typography-font-size);
    color: var(--color8);
}

.view-more {
    text-align: right;
    position: relative;
    top: -55px;
}

.view-more a {
    text-decoration: unset;
}

.new_product_box_text a {
    text-decoration: unset;
}

.new_product_box_main_heading {
    font-size: var(--new_product_box_main_heading_size);
    font-weight: var(--new_product_box_main_heading_font_weight);
    color: var(--new_product_box_main_heading_color);
    line-height: 26px;
    margin-bottom: 3px;
    display: block;
}

.categry {
    font-size: var(--item_cate_size);
    font-weight: var(--item_cate_size_font_weight);
    color: var(--item_cate_size_color);
    line-height: 27px;
    margin-bottom: 8px;
    display: block;
}

.price {
    font-size: var(--rice_tag_size);
    font-weight: var(--rice_tag_size_font_weight);
    color: var(--price_tag_size_color);
    line-height: 22px;
}

ul.color_select {
    margin: 10px 0px;
    display: flex;
    padding: 0px;
}

ul.color_select li {
    list-style: none;
}

ul.color_select li span {
    display: block;
    font-size: 35px;
    border-radius: 30px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

.new_product_box {
    position: relative;
    display: block;
}

.wishlist span {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 28px;
    padding: 8px 8px 0px 0px;
    color: var(--color8);
}

.dis_percentage {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--dis_percentage_color);
    color: var(--color1);
    padding: 3px 8px;
    font-size: 12px;
    margin: 8px 8px 0px 0px;
    font-weight: var(--font-weight-600);
}

.item_brand {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--item_brand_color);
    color: var(--color8);
    padding: 3px 8px;
    font-size: 12px;
    margin: 8px 8px 0px 0px;
    font-weight: var(--font-weight-600);
}

.product-cart-button-container .new_product_box_image {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 265px;
}

.product-cart-button-container .new_product_box_image a img {
    height: 265px;
    text-align: center;
    margin: auto;
    width: 100%;
    object-fit: contain;
    justify-content: center;
    display: flex;
}

.product-cart-button-container .new_product_box_image .hoverImg {
    opacity:0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.product-cart-button-container:hover .new_product_box_image .main-img {
    display: none;
}

.product-cart-button-container:hover .new_product_box_image .hoverImg {
    opacity: 1;
    transform: translateY(0);
}
.product-cart-button-container {
    position: relative;
}
.product-cart-button-container .cart-dropdown {
    transition: transform 0.3s ease-in-out;
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    opacity: 0;
    transform: translateY(-50);
}
.product-cart-button-container:hover .cart-dropdown {
    opacity: 1;
    transform: translateY(-150px);
}
.cart-button i.fas.fa-plus {
    margin-right: 12px;
}
/******card-btn-holds start******/
.cart-button {
    background-color: var(--color8);
    border: unset;
    padding:10px 24px;
    color: var(--color1);
    width: 100%;
}
.cart-button .dropdown {
  position: relative;
  display: inline-block;
}
.cart-button .dropdown-button {
  padding: 10px;
  position: relative;
}
.cart-button .dropdown-options {
  position: absolute;
  list-style: none;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
}
.cart-button .dropdown-options li {
    cursor: pointer;
}
.cart-button .selected-option {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.product-cart-button-container .cart-dropdown ul.dropdown-options {
    position: absolute;
    top: 0px;
    background-color: var(--color8);
    width: 100%;
    padding: 15px 0px;
}
.product-cart-button-container .cart-dropdown ul.dropdown-options li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    color: var(--color1);
    font-size: 14px;
    cursor: pointer;
}

/******card-btn-holds end******/



/********* Start  header  Responsive ********/

@media (max-width: 1400px) {

  
  }
  
  @media (max-width: 1200px) {
  
  }
  
  @media (max-width: 1024px) {
  
  }
  
  @media(max-width:768px){

    .feature-section .view-more {
        display: none;
    }
    .feature-section .owl-carousel .owl-stage {
        margin-left: -18%;
    }
    /* cart-box-style start */
    .new_product_box_main_heading {
        font-size: 14px;
        line-height: 25px;
    }
    .new_product_box_text p.category {
        font-size: 12px;
        margin-bottom: 4px;
    }
    .new_product_box_text span.price {
        font-size: 14px;
        line-height: 25px;
    }
    .owl-carousel.owl-carousel-2 .owl-nav {
        display: none;
    }
    .owl-carousel.owl-carousel-2 .owl-dots {
        display: none;
    }
    .product-cart-button-container .new_product_box_image {
        height: 160px;
    }
    .product-cart-button-container .new_product_box_image a img {
        height: 117px;
        width: 126px !important;
    }
    /* cart-box-style end */

  }

  /********* Start  header  Responsive ********/
