ul.breadcrumbs {
    padding: 8px 0px 10px;
    background-color: var(--color2);
    display: inline-block;
}

ul.breadcrumbs li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-left: 10px;
}

ul.breadcrumbs li a {
    text-decoration: unset;
    font-weight: 600;
    color: var(--color3);
    font-size: var(--pagination_font_size);
    padding: 8px 12px;
}

ul.breadcrumbs li a.active {
    color: var(--color8);
}

ul.breadcrumbs li+li::before {
    color: var(--color8);
    position: absolute;
    content: '\203A';
    font-size: 27px;
    margin: 0px;
    top: -9px;
    font-weight: 500;
    margin-left: -15px;
}

/************ end Breadcrumbs here *********/

/************* main-payemnt-content-box start *************/

.main-payemnt-content-box {
    border: 2px solid var(--greyscale-4, #F5F5F5);
    background: var(--primary-white, #FFF);
    padding-bottom: 24px;
    margin-bottom: 32px;
}

.main-payemnt-content-box .dlivery-one-box {
    background-color: #f5f5f5;
    display: flex;
    height: 72px;
    padding: 5px 24px 5px 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.main-payemnt-content-box .dlivery-one-box .delvery-icons img {
    margin-right: 24px;
}

.main-payemnt-content-box .dlivery-one-box .delvery-icons span {
    font-weight: var(--font-weight-600);
    color: var(--color8);
}

.main-payemnt-content-box .dlivery-one-box .delvery-content p {
    font-size: 14px;
    margin-top: 20px;
    font-weight: var(--font-weight-500);
}

.main-payemnt-content-box .payment-methods-holds {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
}

.main-payemnt-content-box .payment-methods-holds .payment-heads {
    font-size: 14px;
    font-weight: var(--font-weight-500);
    color: var(--color8);
}

.main-payemnt-content-box .payment-methods-holds ul.payment-cards li {
    list-style: none;
    display: inline-block;
}

.main-payemnt-content-box .payment-methods-holds ul.payment-cards {
    padding: 0px;
    margin: 0px;
}

.main-payemnt-content-box .voucher-box {
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.main-payemnt-content-box .voucher-box .voucher-content span {
    color: var(--color8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 190%;
}

.main-payemnt-content-box .voucher-box .voucher-input input {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.main-payemnt-content-box .payment-add-box {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 12px;
}

.main-payemnt-content-box .payment-add-box .content-left span {
    color: var(--color8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 190%;
}

.main-payemnt-content-box .payment-add-box .content-right p {
    color: var(--color8);
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 190%;
}

.main-payemnt-content-box .payment-add-box .content-right h2 {
    color: var(--color8);
    text-align: right;
    font-family: var(--typography2-font-family);
    font-size: var(--h2_typography-font-size);
    font-style: normal;
    font-weight: var(--font-weight-700);
    line-height: 120%;
}

.main-payemnt-content-box .payment-add-box .content-left span small {
    color: var(--color11);
    margin-left: 3px;
}

.main-payemnt-content-box .payment-check {
    display: flex;
    padding: 0px 24px 12px;
}

.main-payemnt-content-box .payment-check input {
    height: 24px;
    margin-right: 12px;
    width: 24px;
    outline: unset !important;
    accent-color: black;
    border: 1px solid var(--color8);
    border-radius: unset !important;
}

.main-payemnt-content-box .payment-btn-holds {
    display: flex;
    padding: 24px 24px 0px;
}

.main-payemnt-content-box .payment-btn-holds a {
    width: 100%;
    justify-content: center;
    margin: 0px 12px;
}

.main-payemnt-content-box .payment-btn-holds a:hover {
    border-color: var(--color7);
    background: var(--color7);
    color: var(--button_with_border-dark-typography-color-hover);
}

/************* main-payemnt-content-box end *************/
/************* main-payemnt-method-box start *************/

.checkout-payment-method .paypaloption {
    display: flex;
    justify-content: space-between;
}

.checkout-payment-method {
    padding: 32px 36px;
    position: relative;
    border: 2px solid var(--color2);
    margin: 32px 0px;
}

.checkout-payment-method .paypaloption a.one {
    border-radius: 6px;
    border: 1px solid var(--color-beige-100, #F9F7F6);
    background: #FFC439;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0px 12px;
}

.checkout-payment-method .paypaloption a.second {
    border-radius: 6px;
    border: 1px solid var(--color-beige-100, #F9F7F6);
    background: var(--color8);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0px 12px;
}

.checkout-payment-method span {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -13px;
    text-align: center;
    padding: 0px 20px;
    background-color: var(--color1);
    margin: auto;
    width: 185px;
    color: var(--color8);
    font-weight: var(--font-weight-700);
    font-size: 14px;
}

.checkout-payment-method p {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -13px;
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
    background-color: var(--color1);
    margin: auto;
    width: 150px;
}

.checkout-payment-method .paypaloption a:hover {
    border-color: var(--color7);
    background: var(--color7);
    color: var(--button_with_border-dark-typography-color-hover);
}

.checkout-address-add .checkout-content-heads {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.checkout-address-add .checkout-content-heads span {
    color: var(--color8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-700);
    line-height: 190%;
}

.checkout-address-add .checkout-content-heads p {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 180%;
}

.checkout-address-add .checkout-content-heads p a {
    color: var(--color8);
    margin-left: 5px;
    font-weight: var(--font-weight-500);
}

.form-fields-holds {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.form-fields-holds label {
    color: var(--primary-black-1, #000);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: 130%;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.checkout-address-form .checkout-check input {
    height: 24px;
    margin-right: 12px;
    width: 24px;
    outline: unset !important;
    accent-color: black;
    border: 1px solid var(--color8);
    border-radius: unset !important;
}

.checkout-address-add .checkout-check {
    margin: 12px 0px 24px;
}

.checkout-address-add .checkout-check label {
    top: -6px;
    position: relative;
    color: var(--color3) !important;
    font-size: 15px;
}

.checkout-border-section {
    border: 1px solid var(--color2);
    margin: 12px 0px 24px;
}

.form-fields-holds textarea.form-input.input {
    width: 100%;
    height: 120px;
}
.with-hold-check-out {
    width: 90%;
    position: relative !important;
    top: 7px !important;
}
/********* Start  EmptyCart  Responsive ********/

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    .checkout-payment-method .paypaloption a.second {
        margin: 0px 0px !important;
    }
    .checkout-payment-method {
        padding: 32px 0px !important;
        margin: 32px 0px !important;
    }
}

@media (max-width: 1024px) {
    .checkout-payment-method .paypaloption a.second {
        margin: 0px 0px !important;
    }
    .checkout-payment-method {
        padding: 32px 0px !important;
        margin: 32px 0px !important;
    }
    
}

@media(max-width:768px) {

    .main-payemnt-content-box .payment-methods-holds {
        flex-direction: column;
    }

    .main-payemnt-content-box .payment-methods-holds ul.payment-cards li {
        margin: 4px 2px;
    }

    .main-payemnt-content-box .payment-methods-holds ul.payment-cards li img {
        width: 42px;
    }

    .main-payemnt-content-box .dlivery-one-box {
        margin-bottom: 16px !important;
    }

    .main-payemnt-content-box .voucher-box {
        padding: 12px 12px !important;
        flex-direction: column !important;
    }

    .main-payemnt-content-box .payment-add-box {
        padding: 0px 12px 8px !important;
    }

    .main-payemnt-content-box .payment-add-box .content-right h2 {
        font-size: 24px;
        margin-top: 6px;
    }

    .main-payemnt-content-box .payment-check {
        padding: 0px 12px 8px !important;
    }

    .main-payemnt-content-box .payment-btn-holds a {
        margin: 0px 0px !important;
    }

    .main-payemnt-content-box .payment-btn-holds {
        padding: 24px 12px 0px !important;
    }

    .main-payemnt-content-box .dlivery-one-box {
        padding: 5px 12px 5px 12px !important;
    }

    .main-payemnt-content-box .payment-methods-holds {
        padding: 0px 12px !important;
    }

    .checkout-payment-method {
        padding: 24px 12px !important;
        margin: 32px 0px !important;
    }

    .checkout-address-form .checkout-check input {
        height: 20px !important;
        width: 20px !important;
    }

    .checkout-address-add .checkout-check label {
        top: -6.2px !important;
        font-size: 13px !important;
    }

    input,
    select,
    textarea {
        font-size: 14px !important;
    }

    select.form-select.select {
        font-size: 14px !important;
    }
}

/********* End EmptyCart  Responsive ********/