.category-section {
    margin-bottom: 48px;
}
.main-heading-holds {
    margin-bottom: 32px;
}
.main-heading-holds h2 {
    font-weight: var(--font-weight-700);
    font-size: var(--h2_typography-font-size);
    color: var(--color8);
}
.cate-item-box {
    display: flex;
    background-color: var(--color2);
    transition:transform .3s;
    overflow:hidden;
}

.cate-item-box a {
    width: 100%;
    display: flex;
    text-decoration: unset;
}
.cate-item-box .cate-img-holder {
    width: 40%;
}
.cate-item-box .cate-img-holder img {
    height: 104px;
    width: 146px;
}
.cate-item-box:hover .cate-img-holder img {
    transform: scale(1.07);
}
.cate-item-box .cate-content-hold {
    width: 60%;
    margin: auto;
}
.cate-item-box .cate-content-hold span {
    font-weight: var(--font-weight-600);
    color: var(--color8);
    font-size: var(--h5_typography-font-size);
}

/********* Start  header  Responsive ********/

@media (max-width: 1400px) {
 
  }
  
  @media (max-width: 1200px) {
  
  }
  
  @media (max-width: 1024px) {
  
  }
  
  @media(max-width:768px){
    .category-section {
        margin-bottom: 24px;
    }
    .main-heading-holds {
        margin-bottom: 16px !important;
    }
    .main-heading-holds h2 {
        font-size: 24px !important;
    }
    .cate-item-box {
        margin-bottom: 8px;
    }
    .cate-item-box .cate-content-hold span {
        font-size: 16px;
    }
    .cate-img-holder img {
        width: 73px;
        height: 52px;
    }
    .cate-item-box .cate-content-hold {
        width: 55%;
    }
    .cate-item-box .cate-img-holder {
        width: 45%;
    }
  }

  /********* End  Slider  Responsive ********/
 