.topbar-content {
  color: var(--topbar_typography-color);
  font-size: var(--topbar_typography-font-size);
  font-weight: var(--font-weight-600);
}

.topbar-content ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
  display: flex;
}

.header-bottom-pd {
  padding-top: 24px;
}

.topbar-content ul li:not(:last-child) {
  margin-right: 1rem;
}

.topbar-content a {
  color: var(--link_topbar_color);
  text-decoration: var(--link_no_decoration);
}

.topbar-content ul li a:hover {
  text-decoration: var(--link_decoration_line);
}

/* Start announcement bar */
.announcement-content {
  color: var(--color1);
  font-size: 14px;
  font-weight: var(--font-weight-700);
}

/* Start navbar bar */
.navbar-hold {
  position: relative;
}

.header-bottom-pd {
  position: unset;
}

.menu-toggel {
  position: unset;
}

nav.main-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  position: unset;
}

.navbar-expand-lg .navbar-collapse {
  position: unset;
}

.menu-toggel {
  margin-right: 24px;
}

a.navbar-brand {
  text-align: center;
  display: block;
  padding: 20px 24px 0px;
}

ul.navbar-nav.left-side li.nav-item.active.dropdown {
  position: unset;
}

ul.navbar-nav.left-side li a {
  color: var(--nav_typography-color);
  font-weight: var(--font-weight-700);
  padding: 12px 22px !important;
}

ul.navbar-nav.left-side li a:hover {
  border-color: rgba(178, 165, 235, 0.08);
  background: rgba(178, 165, 235, 0.08);
  color: var(--color7);
}

.dropdown-toggle::after {
  content: unset !important;
}

ul.navbar-nav.right-side li a {
  color: var(--nav_typography-color);
  font-weight: var(--font-weight-700);
  padding: 12px 8px !important;
}

ul.navbar-nav li a span {
  font-size: 25px !important;
}

ul.navbar-nav li a span:hover {
  color: var(--color7);
}

ul.navbar-nav.left-side li a.nav-link span {
  position: relative;
  top: 6px;
  margin-right: 3px;
}

ul.navbar-nav.left-side li.nav-item.active.dropdown ul.dropdown-menu.show {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  left: 0;
  right: 0;
}

/* Start burger menu */
/* Start search menu */
.header-search-hold {
  display: block;
  width: 100%;
}

.header-search-hold .easy-autocomplete {
  position: relative;
}

.header-search-hold .easy-autocomplete input {
  width: 100%;
  padding-left: 50px;
}

.header-search-hold .easy-autocomplete span.icon-search-outline {
  position: absolute;
  left: 12px;
  color: var(--color8);
  font-size: var(--h5_typography-font-size);
  top: 12px;
}

/* Start dropdown menu */

.dropdown-menu.show {
  width: 100%;
  margin-top: 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin: 0px;
  padding: 0px;
  border: unset;
}

.custom-dropdown-hold {
  padding-left: 25px;
}

.main-dropdown-holds {
  padding: 35px 25px 0px;
}

.main-dropdown-holds span {
  font-size: var(--h5_typography-font-size);
  font-family: var(--typography2-font-family);
  font-weight: var(--font-weight-700);
  height: 47px;
  display: block;
}

.main-dropdown-holds ul.item-links {
  padding: 0px;
}

.main-dropdown-holds ul.item-links li {
  list-style: none;
  padding: 4px 0px;
}

.main-dropdown-holds ul.item-links li a {
  color: var(--color8) !important;
  font-size: var(--item_cate_size);
  text-decoration: unset;
  padding: 0px !important;
}

.dropdown-img .content-hold h2 {
  font-size: var(--h2_typography-font-size);
  font-weight: var(--font-weight-700);
}

.main-dropdown-holds ul.item-links li a:hover {
  color: var(--color7);
}

.dropdown-img.box-second {
  background-color: var(--color5);
  position: relative;
}

.dropdown-img.box-one {
  background-color: var(--color6);
  position: relative;
}

.dropdown-img.box-second .content-hold h2 {
  color: var(--color1);
}

.pd-zero {
  padding: 0px !important;
}

.dropdown-img .content-hold {
  padding: 30px 0px 0px 30px;
}

.dropdown-img .content-hold a {
  position: absolute;
  bottom: 40px;
  text-decoration: unset;
}

.dropdown-img .content-hold a i.fas.fa-angle-right {
  margin-left: 13px;
  text-decoration: unset;
}

/* End dropdown menu */

/* Start Toggle burger menu */
.sidebar {
  width: 424px;
  flex-shrink: 0;
  background-color: var(--color7);
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.sidebar-item.open>.sidebar-content .sidebar-item .sidebar-title {
  color: var(--color8) !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}
.show.btnn .sidebar .sidebar-item.open .sidebar-title i.fas.fa-chevron-right.toggle-btn {
  background-color:var(--color1);
  padding: 8px 12px 8px !important;
  color: var(--color7);
  rotate: 180deg;
}
.sidebar-item.open>.sidebar-content .sidebar-item .sidebar-title i.fas.fa-chevron-right.toggle-btn {
  rotate: unset !important;
  color: unset !important;
}
.sidebar-logo {
  margin-bottom: 35px;
}
.sidebar-item {
  padding: 8px 24px;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.border-holds {
  border-bottom: 2px solid rgba(117, 91, 240, 1);
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 320px;
}
.show.btnn .sidebar .sidebar-item.open .sidebar-title {
  color: var(--color1);
}
.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  color: #D5CCFF;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform .3s;
  padding: 8px 12px 8px !important;
}

.sidebar-item.open>.sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-content {
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open>.sidebar-content {
  position: absolute;
  left: 100%;
  top: 0;
  background: var(--color1);
  width: 424px;
  height: 100%;
  padding-top: 6rem;
  z-index: 999;
  overflow: visible;
}
.sidebar-item.open>.sidebar-content .sidebar-item .sidebar-title {
  color: var(--color8);
}
.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

.show.btnn .sidebar {
  display: inline-block;
  padding-top: 2.5rem;
}

button.btn-close {
  position: absolute;
  background: unset;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  right: 11px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Toggle burger menu */

/* Start menu dropdown cart  */

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark {
  width: 336px;
  margin-left: auto;
  right: 0px;
  background-color: var(--color1);
  border-radius: 0px;
  padding: 20px;
  border: 2px solid var(--color8);
}

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark button.btn-close {
  border: 2px solid var(--color8) !important;
  opacity: unset;
  color: var(--color8) !important;
}

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark li h5 {
  font-weight: var(--font-weight-700);
  color: var(--color8) !important;
  font-family: var(--typography2-font-family);
  font-size: var(--h5_typography-font-size);
}

.cart-dropdown-box {
  display: flex;
  margin: 24px 0px;
  border-bottom: 2px solid var(--color2);
}

.cart-dropdown-box .cart-img-side-one {
  width: 35%;
}

.cart-dropdown-box .cart-img-side-two {
  width: 65%;
  margin-left: 24px;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h {
  display: block;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h b.new-price {
  color: var(--secondary-red-1, #F54E80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 180%;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h b.old-price {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 180%;
  text-decoration: line-through;
  margin-left: 8px;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-name-h {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
  display: block;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-count {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
}

.cart-dropdown-box {
  display: flex;
  margin: 24px 0px;
}

.cart-dropdown-box .cart-img-side-two .cart-item-icons {
  text-align: right;
  margin: 24px 0px 12px;
}

.cart-dropdown-box .cart-img-side-two .cart-item-icons span {
  font-size: 23px;
  cursor: pointer;
  color: var(--color8);
  margin: 2px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 {
  justify-content: space-between;
  display: flex;
  margin-bottom: 12px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-left-hold {
  color: var(--color8);
  font-weight: var(--font-weight-500);
  font-family: Inter;
  font-size: 14px;
  line-height: 180%;
}

.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-right-hold {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 b.subtotal-hold {
  color: var(--greyscale-40, #999);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
  margin-left: 5px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-right-hold h6 {
  color: var(--color8);
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-700);
  line-height: 180%;
}
.cart-dropdown-taotal-payment .cart-drop-sub-box a:hover {
  border-color: var(--color7);
  background: var(--color7);
  color: var(--button_with_border-dark-typography-color-hover);
}
.cart-dropdown-taotal-payment .cart-drop-sub-box a {
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
}
/* End menu dropdown cart  */

/********* Start Popups header   ********/

.discount-popups .modal-content {
  border-radius: unset;
  background-color: var(--color8);
  width: 448px;
  max-width: 448px;
  margin: auto;
}
.discount-popups .modal-body button.btn-close {
  opacity: unset;
  top: 32px;
  right: 32px;
  padding: 8px;
}
.discount-popups .modal-body {
  padding: 0px;
}
.discount-popups .modal-body button.btn-close i.fa-solid.fa-xmark {
  color: #fff;
  font-size: 18px;
  padding: 10px !important;
}
.discount-content-upper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.discount-popups .discount-content-upper img {
  width: 248.135px;
  margin: auto;
  margin-bottom: 24px;
  height: 220px;
}

element.style {
}
.discount-popups .discount-content-upper span {
    color: var(--color1);
    text-align: center;
    font-family: MC;
    font-size: 64px;
    font-style: normal;
    font-weight: var(--font-weight-700);
    line-height: 100%;
}
.discount-popups .discount-form-hold {
  background-color: var(--color1);
  display: block;
  padding: 32px 32px 24px 32px;
}
.discount-popups .discount-form-hold .form_input_fields_data {
  margin-bottom: 24px;
}
.discount-popups .discount-form-hold .form_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.discount-popups .discount-form-hold .form_btn a {
  text-align: center;
  justify-content: center;
  margin-bottom: 12px;
}
.discount-popups .discount-form-hold .form_btn a.one:hover {
  border-color: var(--color7);
  background: var(--color7);
  color: var(--button_with_border-dark-typography-color-hover);
}
.discount-popups .discount-form-hold .form_btn a.second {
  color: var(--color8);
}
.discount-popups .discount-form-hold .form_input_fields_data input {
  width: 100%;
}
.discount-popups .discount-form-hold .description-hold p {
  font-size: 10px;
  text-align: center;
}
.discount-popups .discount-form-hold .description-hold p a {
  color: var(--primary-black-1, #000);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  justify-content: center;
}


/********* End Popups header   ********/

/*********** start Side navbar header   ***********/

.site-sidenav-menu {
  min-width: 424px;
  max-width:  424px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -424px;
  /* Move the sidebar to the left initially */
  /* top layer */
  z-index: 9999;
  transition: left 0.3s;
  /* Add a transition for the left property */
}
.custom-side-navbar-hold .site-sidenav-menu {
  background-color: var(--color7);
}
/* Open the sidebar when it has the .active class */
.site-sidenav-menu.active {
  left: 0;
}
/* Add styling for the close button */
#dismiss {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 99999;
  background-color: unset;
  border: 2px solid var(--color8);
  border-radius: unset;
}
/* Style the close button icon */
#dismiss i {
  font-size: 20px;
  color: var(--color8);
  position: relative;
  top: 2px;
}
/* Style the close button on hover */
#dismiss:hover {
  background-color: var(--color1);
  border: 2px solid var(--color1);
  /* Change to your desired hover color */
}
.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e., appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}
.back-level a {
  display: none;
}
/* Initially hide all sub-items and grand-sub-items */
.site-menu-sub,
.site-menu-grand {
  display: none;
}
/* Style for the active level 1 submenu */
.site-menu-sub-active {
  display: block;
  /* Show the submenu */
}
/* Style for the active level 3 submenu */
.site-menu-sub-item.active .site-menu-grand {
  display: block;
  /* Show the submenu */
}
ul.site-menu-sub {
  min-width: 424px;
  max-width: 424px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 424px;
  z-index: 9999;
  transition: left 0.3s;
  background-color:var(--color1);
}
.site-menu-sub-item .site-menu-grand{
  min-width: 424px;
  max-width: 424px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 848px;
  z-index: 9999;
  transition: left 0.3s;
  background-color:var(--color1);
}
.sidenav-logos a img {
  padding: 32px;
}
.site-sidenav-menu ul.site-menu-root {
  padding: 0px;
  margin: 0px;
  padding-left: 40px;
}
.site-sidenav-menu ul.site-menu-root li {
  list-style: none;
  margin: 4px 0px;
  cursor: pointer;
}
.site-sidenav-menu ul.site-menu-root li a {
  display: flex;
  width: 328px;
  padding: 4px 4px 4px 8px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #D5CCFF;
}
.site-sidenav-menu ul.site-menu-root li.site-menu-root-item:hover a, .site-sidenav-menu ul.site-menu-root li.site-menu-root-item.active a {
  background-color: #856ef7;
}
.site-sidenav-menu ul.site-menu-root li.site-menu-root-item:hover a span.icon-holder, .site-sidenav-menu ul.site-menu-root li.site-menu-root-item.active span.icon-holder{
  background-color: var(--color1);
  padding: 8px 10px;
  color: var(--color8);
}
.site-sidenav-menu ul.site-menu-root li.site-menu-root-item.active span.icon-holder{
  rotate: 180deg;
}
/* .site-sidenav-menu ul.site-menu-root li.site-menu-root-item.active span.icon-holder {
  background-color:var(--color1);
  padding: 8px 10px;
  color: var(--color8);
  rotate: 180deg;
} */
.site-sidenav-menu ul.site-menu-root li.site-menu-root-item span.icon-holder {
  background-color: unset;
  padding: 8px 10px;
  color: unset;
  rotate: unset;
}
.site-sidenav-menu ul.site-menu-root {
  padding: 0px;
  padding-left: 48px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 490px;
  min-height: 490px;
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 8px !important;
}

.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-thumb {
  background-color: var(--color7);
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: unset;
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-track {
  background: unset;
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-track {
  -webkit-box-shadow: unset;
  border-radius: 10px;
}
.site-sidenav-menu ul.site-menu-root::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

.site-sidenav-menu ul.site-menu-root li span.txt-holder span.icon-custom {
  font-size: 22px;
  position: relative;
  top: 4px;
}
.site-sidenav-menu ul.site-menu-root li span .tage-one {
  background-color: var(--color6);
  color: var(--color8);
  padding: 3px 6px;
  font-weight: 500;
  margin-left: 8px;
}
.site-sidenav-menu ul.site-menu-root li span .tage-second {
  background-color: var(--color5);
  color: var(--color1);
  padding: 3px 6px;
  font-weight: 500;
  margin-left: 8px;
}
ul.site-menu-sub li.site-menu-sub-item a {
  color: var(--color8);
  width: 328px;
  padding: 4px 4px 4px 0px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
ul.site-menu-sub li.site-menu-sub-item a .icon-holder {
  padding: 8px 10px;
}
/* ul.site-menu-sub li.site-menu-sub-item.active span.icon-holder {
  background-color: var(--color8);
  padding: 8px 10px;
  color: var(--color1);
  rotate: 180deg;
} */
.site-sidenav-menu ul.site-menu-sub .scroll-hold > li.site-menu-sub-item:hover a,
.site-sidenav-menu ul.site-menu-sub .scroll-hold > li.site-menu-sub-item.active a {
  background-color: #f0f0f0;
}
.site-sidenav-menu ul.site-menu-sub .scroll-hold > li.site-menu-sub-item:hover a span.icon-holder,
.site-sidenav-menu ul.site-menu-sub .scroll-hold > li.site-menu-sub-item.active span.icon-holder{
  background-color: var(--color8);
  padding: 8px 10px;
  color: var(--color1);
}
.site-sidenav-menu ul.site-menu-sub .scroll-hold > li.site-menu-sub-item.active span.icon-holder {
  rotate: 180deg;
}
ul.site-menu-sub li.site-menu-sub-item a .txt-holder img {
  width: 32px;
  height: 25px;
  margin-right: 10px;
}
.site-sidenav-menu ul.site-menu-root li .pro-banner-side {
  padding-top: 38px;
}
ul.site-menu-sub .back-level h4 {
  color: var(--color7);
  font-family: MC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
ul.site-menu-sub .back-level {
  padding: 40px 0px 25px 0px;
}
ul.site-menu-sub .scroll-hold {
  padding: 0px;
  padding:0px 48px 0px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 490px;
  min-height: 490px;
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 8px !important;
}

ul.site-menu-sub .scroll-hold::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: unset;
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar-track {
  background: unset;
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar-track {
  -webkit-box-shadow: unset;
  border-radius: 10px;
}
ul.site-menu-sub .scroll-hold::-webkit-scrollbar-track {
  border-radius: 10px !important;
}
.site-menu-sub-item.active .site-menu-grand .back-level {
  display: flex;
}
.site-menu-sub-item.active .site-menu-grand .back-level a.btn.btn-secondary.btn-sm {
  padding: 10px 14px;
  width: 40px;
  background-color: #86b7fe3b;
  color: #6a4ef5;
  border: unset;
  position: relative;
  top: -15px;
}
.site-menu-sub-item.active .site-menu-grand .back-level h4 {
  margin-left: 30px;
}
.site-sidenav-menu ul.site-menu-grand li.site-menu-sub-item.third-menu-gard a {
  background-color: unset !important;
  width: 328px;
    padding: 4px 4px 4px 0px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.site-sidenav-menu ul.site-menu-sub ul.site-menu-grand li.site-menu-sub-item.third-menu-gard:hover a,
.site-sidenav-menu ul.site-menu-sub ul.site-menu-grand li.site-menu-sub-item.third-menu-gard.active a {
  background-color: #f0f0f0 !important;
}
.site-sidenav-menu ul.site-menu-sub ul.site-menu-grand li.site-menu-sub-item.third-menu-gard a span.icon-holder {
  background-color: unset;
  padding: 8px 10px;
  color: var(--color8);
  rotate: unset;
}
.site-sidenav-menu ul.site-menu-sub ul.site-menu-grand li.site-menu-sub-item.third-menu-gard:hover a span.icon-holder,
.site-sidenav-menu ul.site-menu-sub ul.site-menu-grand li.site-menu-sub-item.third-menu-gard.active a span.icon-holder {
  rotate: unset !important;
  background-color: var(--color8);
  color: var(--color1);
}



/*********** End Side navbar header   ***********/

/********* Start  header  Responsive ********/

@media (max-width: 1400px) {
  ul.navbar-nav.left-side li a {
    padding: 12px 14px !important;
}

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media(max-width:768px){
  
  .topbar {
    text-align: center;
}
  .topbar-content {
    justify-content: center !important;
}
.topbar-announcement {
  text-align: center;
}
.topbar-content {
  text-align: center !important;
  justify-content: center !important;
}
.topbar-content {
  text-align: center !important;
  justify-content: center !important;
}
.site-sidenav-menu {
  height: 100%;
}
.topbar {
  display: none;
}
.btnn button small {
  display: none !important;
}
.btnn {
  position: relative;
}
.button-with-icon {
  display: inline-flex !important;
  align-items: center !important;
  padding: 6px 7px 6px 0px !important;
  background-color: unset !important;
  color:var(--color1) !important;
  border: 2px solid var(--color1) !important;
  position: absolute;
  top: -62px;
}
.button-with-icon span {
  font-size: 24px;
  margin-left: 8px;
  rotate: -180deg;
}
.site-sidenav-menu ul.site-menu-root {
  padding: 0px;
  padding-left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 550px;
  min-height: 550px;
}
ul.site-menu-sub {
  min-width: 95%;
  max-width: 95%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  padding-left: 15px;
}
.site-menu-sub-item .site-menu-grand {
  min-width: 95%;
  max-width: 95%;
  left: 0px;
  padding-left: 15px;
}
.sidenav-logos a img {
  padding: 32px 10px;
  width: 205px;
}
.site-sidenav-menu {
  min-width: 95%;
  max-width: 95%;
}
a.navbar-brand {
  text-align: left !important;
  display: block !important;
  padding: 0px 0px 0px 65px !important;
}
a.navbar-brand img.img-fluid {
  width: 155px !important;
}
.item {
  padding: 0px 0px !important;
}
.navbar-hold.dark-bg.mb-3 {
  margin-bottom: 0px !important;
}
.mobile-resp-h {
  display: flex !important;
  position: absolute !important;
  width: 100%;
  bottom: 0px;
}
.mobile-resp-h ul.navbar-nav.right-side {
  display: contents;
}
.mobile-resp-h .navbar-nav .dropdown-menu {
  position: absolute;
}
.header-bottom-pd {
  padding-top: 12px;
}
ul.site-menu-sub .scroll-hold {
  padding-left: 0px;
}
}
@media(max-width:375px){
  ul.site-menu-sub .scroll-hold {
    padding-left: 0px;
}
  .site-sidenav-menu {
    min-width: 100%;
    max-width: 100%;
}
ul.site-menu-sub {
  min-width: 100%;
  max-width: 100%;
}
.site-menu-sub-item .site-menu-grand {
  min-width: 100%;
  max-width: 100%;
  padding-left: 0px;
}
}

/********* Start  header  Responsive ********/