.topbar-content {
  color: var(--topbar_typography-color);
  font-size: var(--topbar_typography-font-size);
  font-weight: var(--font-weight-600);
}

.topbar-content ul {
  padding: 0px;
  list-style: none;
  margin-bottom: 0px;
  display: flex;
}

.header-bottom-pd {
  padding-top: 24px;
}

.topbar-content ul li:not(:last-child) {
  margin-right: 1rem;
}

.topbar-content a {
  color: var(--link_topbar_color);
  text-decoration: var(--link_no_decoration);
}

.topbar-content ul li a:hover {
  text-decoration: var(--link_decoration_line);
}

/* Start announcement bar */
.announcement-content {
  color: var(--color1);
  font-size: 14px;
  font-weight: var(--font-weight-700);
}

/* Start navbar bar */
.navbar-hold {
  position: relative;
}

.header-bottom-pd {
  position: unset;
}

.menu-toggel {
  position: unset;
}

nav.main-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  position: unset;
}

.navbar-expand-lg .navbar-collapse {
  position: unset;
}

.menu-toggel {
  margin-right: 24px;
}

a.navbar-brand {
  text-align: center;
  display: block;
  padding: 12px 24px 0px;
}

ul.navbar-nav.left-side li.nav-item.active.dropdown {
  position: unset;
}

ul.navbar-nav.left-side li a {
  color: var(--nav_typography-color);
  font-weight: var(--font-weight-700);
  padding: 12px 22px !important;
}

ul.navbar-nav.left-side li a:hover {
  border-color: rgba(178, 165, 235, 0.08);
  background: rgba(178, 165, 235, 0.08);
  color: var(--color7);
}

.dropdown-toggle::after {
  content: unset !important;
}

ul.navbar-nav.right-side li a {
  color: var(--nav_typography-color);
  font-weight: var(--font-weight-700);
  padding: 12px 8px !important;
}

ul.navbar-nav li a span {
  font-size: 25px !important;
}

ul.navbar-nav li a span:hover {
  color: var(--color7);
}

ul.navbar-nav.left-side li a.nav-link span {
  position: relative;
  top: 6px;
  margin-right: 3px;
}

ul.navbar-nav.left-side li.nav-item.active.dropdown ul.dropdown-menu.show {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  left: 0;
  right: 0;
}

/* Start burger menu */
/* Start search menu */
.header-search-hold {
  display: block;
  width: 100%;
}

.header-search-hold .easy-autocomplete {
  position: relative;
}

.header-search-hold .easy-autocomplete input {
  width: 100%;
  padding-left: 50px;
}

.header-search-hold .easy-autocomplete span.icon-search-outline {
  position: absolute;
  left: 12px;
  color: var(--color8);
  font-size: var(--h5_typography-font-size);
  top: 12px;
}

/* Start dropdown menu */

.dropdown-menu.show {
  width: 100%;
  margin-top: 0px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin: 0px;
  padding: 0px;
  border: unset;
}

.custom-dropdown-hold {
  padding-left: 25px;
}

.main-dropdown-holds {
  padding: 35px 25px 0px;
}

.main-dropdown-holds span {
  font-size: var(--h5_typography-font-size);
  font-family: var(--typography2-font-family);
  font-weight: var(--font-weight-700);
  height: 47px;
  display: block;
}

.main-dropdown-holds ul.item-links {
  padding: 0px;
}

.main-dropdown-holds ul.item-links li {
  list-style: none;
  padding: 4px 0px;
}

.main-dropdown-holds ul.item-links li a {
  color: var(--color8) !important;
  font-size: var(--item_cate_size);
  text-decoration: unset;
  padding: 0px !important;
}

.dropdown-img .content-hold h2 {
  font-size: var(--h2_typography-font-size);
  font-weight: var(--font-weight-700);
}

.main-dropdown-holds ul.item-links li a:hover {
  color: var(--color7);
}

.dropdown-img.box-second {
  background-color: var(--color5);
  position: relative;
}

.dropdown-img.box-one {
  background-color: var(--color6);
  position: relative;
}

.dropdown-img.box-second .content-hold h2 {
  color: var(--color1);
}

.pd-zero {
  padding: 0px !important;
}

.dropdown-img .content-hold {
  padding: 30px 0px 0px 30px;
}

.dropdown-img .content-hold a {
  position: absolute;
  bottom: 40px;
  text-decoration: unset;
}

.dropdown-img .content-hold a i.fas.fa-angle-right {
  margin-left: 13px;
  text-decoration: unset;
}

/* End dropdown menu */

/* Start Toggle burger menu */
.sidebar {
  width: 424px;
  flex-shrink: 0;
  background-color: var(--color7);
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}


.sidebar-item {
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  color: #D5CCFF;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform .3s;
}

.sidebar-item.open>.sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-content {
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open>.sidebar-content {
  position: absolute;
  left: 100%;
  top: 0;
  background: var(--color1);
  width: 424px;
  height: 100%;
  padding-top: 6rem;
  z-index: 999;
  overflow: visible;
}
.sidebar-item.open>.sidebar-content .sidebar-item .sidebar-title {
  color: var(--color8);
}
.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}

.sidebar-item.plain:hover {
  text-decoration: underline;
}

.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

.show.btnn .sidebar {
  display: inline-block;
  padding-top: 2.5rem;
}

button.btn-close {
  position: absolute;
  background: unset;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  right: 11px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Toggle burger menu */

/* Start menu dropdown cart  */

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark {
  width: 336px;
  margin-left: auto;
  right: 0px;
  background-color: var(--color1);
  border-radius: 0px;
  padding: 20px;
  border: 2px solid var(--color8);
}

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark button.btn-close {
  border: 2px solid var(--color8) !important;
  opacity: unset;
  color: var(--color8) !important;
}

.custom-cart-dropdown ul.dropdown-menu.dropdown-menu-dark li h5 {
  font-weight: var(--font-weight-700);
  color: var(--color8) !important;
  font-family: var(--typography2-font-family);
  font-size: var(--h5_typography-font-size);
}

.cart-dropdown-box {
  display: flex;
  margin: 24px 0px;
  border-bottom: 2px solid var(--color2);
}

.cart-dropdown-box .cart-img-side-one {
  width: 35%;
}

.cart-dropdown-box .cart-img-side-two {
  width: 65%;
  margin-left: 24px;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h {
  display: block;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h b.new-price {
  color: var(--secondary-red-1, #F54E80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 180%;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-prices-h b.old-price {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-600);
  line-height: 180%;
  text-decoration: line-through;
  margin-left: 8px;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-name-h {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
  display: block;
}

.cart-dropdown-box .cart-img-side-two span.pro-item-count {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
}

.cart-dropdown-box {
  display: flex;
  margin: 24px 0px;
}

.cart-dropdown-box .cart-img-side-two .cart-item-icons {
  text-align: right;
  margin: 24px 0px 12px;
}

.cart-dropdown-box .cart-img-side-two .cart-item-icons span {
  font-size: 23px;
  cursor: pointer;
  color: var(--color8);
  margin: 2px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 {
  justify-content: space-between;
  display: flex;
  margin-bottom: 12px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-left-hold {
  color: var(--color8);
  font-weight: var(--font-weight-500);
  font-family: Inter;
  font-size: 14px;
  line-height: 180%;
}

.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-right-hold {
  color: var(--greyscale-40, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 b.subtotal-hold {
  color: var(--greyscale-40, #999);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 180%;
  margin-left: 5px;
}
.cart-dropdown-taotal-payment .cart-drop-total-box1 span.price-right-hold h6 {
  color: var(--color8);
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-700);
  line-height: 180%;
}
.cart-dropdown-taotal-payment .cart-drop-sub-box a:hover {
  border-color: var(--color7);
  background: var(--color7);
  color: var(--button_with_border-dark-typography-color-hover);
}
.cart-dropdown-taotal-payment .cart-drop-sub-box a {
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
}
