.promotion-section-hold {
    background-color: var(--color10);
    height: 297px;
    overflow-y: visible;
}

.promotion-content-hold h2 {
    font-size: var(--h2_typography-font-size);
    color: var(--color8);
    font-weight: var(--font-weight-700);
    margin-bottom: 16px;
}

.promotion-content-hold p {
    margin-bottom: 40px;
}

.promotion-img-hold {
    text-align: right;
    margin-top: -45px;
}

.promotion-img-hold img {
    width: 495px;
}

.promotion-img-hold small {
    display: block;
    position: relative;
    top: 30px;
    text-align: center;
}

.ProLaptop .price-tages-pro-h {
    position: relative;
    z-index: 11;
    background-repeat: no-repeat;
    height: 111px;
    object-fit: contain;
    width: 119px;
    bottom: 105px;
    right: 160px;
    left: unset;
    float: right;
}

.ProLaptop .price-tages-pro-h span.price-tag {
    top: 40px;
    left: 25px;
    rotate: 20deg;
    font-size: 22px;
}

/********* Start  Style  Responsive ********/
@media (min-width: 1500px) {}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {
    .promotion-img-hold.ProLaptop {
        margin-top: 50px !important;
    }

    .promotion-img-hold img {
        width: 290px;
    }
}

@media (min-width:769px) and (max-width:1024px) {

    .promotion-img-hold {
        margin-top: 40px;
    }

    .promotion-img-hold.ProLaptop {
        margin-top: 50px !important;
    }
}

@media(max-width:767px) {

    .promotion-img-hold {
        position: relative;
        top: -105px;
    }

    .promotion-img-hold.ProLaptop img {
        width: 175px;
        margin-top: -45px;
        float: right;
    }

    .ProLaptop .price-tages-pro-h {
        height: 85px;
        width: 85px;
        bottom: 20px;
        left: 60px;
        background-size: contain;
    }

    .ProLaptop .price-tages-pro-h span.price-tag {
        top: 25px;
        left: 14px;
        rotate: 11deg;
        font-size: 16px;
    }

    .promotion-img-hold small {
        display: none !important;
    }

}


/********* End  Style  Responsive ********/